<!DOCTYPE html>
<html lang="{{config.locale}}">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#meta.title}}{{meta.title}} - {{/meta.title}}{{config.site_title}}</title>
  {{#meta.description}}<meta name="description" content="{{meta.description}}">{{/meta.description}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{config.base_url}}/favicon.ico">
   <!--<link rel="stylesheet" href="{{config.base_url}}/lib/bootstrap/dist/css/bootstrap.min.css">-->
  <link rel="stylesheet" href="{{config.base_url}}/lib/highlightjs/styles/atom-one-dark.css">
  <script>var rn_base_url = "{{config.base_url}}";</script>
  <link rel="stylesheet" href="{{config.base_url}}/styles/haldorsen.css">
  <link rel="stylesheet" href="{{config.base_url}}/styles/ghostdown.css">

</head>
<body class="haldorsen">

  <main>

    <!-- Header -->
    <header>
      <a href="{{config.base_url}}/"><div class="home">H</div></a>
      <div class="search">
        <div class="icon">S</div>
        <div class="searchbox">
          <form action="{{config.base_url}}/">
              <input type="search" name="search" id="search" value="{{search}}" placeholder="{{lang.global.search}}" autocomplete="off">
          </form>
        </div>
      </div>
    </header>

    <!-- Content -->
    <div>
      {{{yield}}}
    </div>

    <!-- Footer -->
    <footer>
      <ul>
        {{#pages}}
          <li class="category {{#active}} active{{/active}}">
            {{#is_index}}
              <h5 class="category-title">
          {{^config.menu_on_page_collapsible}}{{lang.global.mainArticles}}{{/config.menu_on_page_collapsible}}
          {{#config.menu_on_page_collapsible}}
            <a href="#category_{{sort}}" data-toggle="collapse">{{lang.global.mainArticles}}</a>
          {{/config.menu_on_page_collapsible}}
          {{#canEdit}}
            <a class="add-page" data-toggle="modal" data-target="#addModal" title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>
          {{/canEdit}}
        </h5>
            {{/is_index}}
            {{^is_index}}
              <h5 class="category-title">
          {{^config.menu_on_page_collapsible}}{{title}}{{/config.menu_on_page_collapsible}}
          {{#config.menu_on_page_collapsible}}
            <a href="#category_{{sort}}" data-toggle="collapse">{{title}}</a>
          {{/config.menu_on_page_collapsible}}
          {{#canEdit}}
            <a class="add-page" data-toggle="modal" data-target="#addModal" title="{{lang.page.addPage}}"><span style="font-weight: bold; font-size: 16px; cursor:pointer">&#43;</span></a>
          {{/canEdit}}
        </h5>
            {{/is_index}}
            <ul class="pages{{#config.menu_on_page_collapsible}} collapse{{#active}} show{{/active}}{{/config.menu_on_page_collapsible}}" {{#config.menu_on_page_collapsible}}id="category_{{sort}}"{{/config.menu_on_page_collapsible}}>
              {{#files}}
                {{^is_directory}}
                  <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                {{/is_directory}}
                {{#is_directory}}
                  <li class="page{{#active}} active{{/active}}">{{title}}
                    {{#files}}
                      <ul>
                        {{^is_directory}}
                          <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                        {{/is_directory}}
                        {{#is_directory}}
                          <li class="page{{#active}} active{{/active}}">{{title}}</li>
                          <ul>
                            {{#files}}
                              <li class="page{{#active}} active{{/active}}"><a href="{{config.base_url}}/{{slug}}">{{title}}</a></li>
                            {{/files}}
                          </ul>
                        {{/is_directory}}
                      </ul>
                    {{/files}}
                  </li>
                {{/is_directory}}
              {{/files}}
            </ul>
          </li>
        {{/pages}}
      </ul>
    </footer>

    <!-- JavaScript -->
    <script src="{{config.base_url}}/lib/jquery/dist/jquery.min.js"></script>
    <script src="{{config.base_url}}/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="{{config.base_url}}/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{config.base_url}}/lib/highlightjs/highlight.pack.min.js"></script>
    <script src="{{config.base_url}}/lib/fitvids/dist/fitvids.min.js"></script>
    <script src="{{config.base_url}}/lib/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="{{config.base_url}}/scripts/ghostdown.js"></script>
    <script src="{{config.base_url}}/scripts/raneto.js"></script>

  <main>

</body>
</html>
